*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes hue_effect {
  0% { filter:hue-rotate(0deg); }
  20% { filter:hue-rotate(72deg); }
  40% { filter:hue-rotate(144deg); }
  60% { filter:hue-rotate(216deg); }
  80% { filter:hue-rotate(288deg); }
  100% { filter:hue-rotate(360deg); }
}

textarea {
  resize: none;
}

.contenedor_form{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "form form iframe";
  column-gap: 20px;
  width: 60vw;
  height: 60vh;
  margin: 0 20vw 0 20vw;
}


.caja-formulario{
  grid-area: form;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2vh;
  background-color: rgba(99, 90, 73,1);
  border-radius: 5px;
}

#Field1,#Field2,#Field3,#Field4{
  width: 60%;
  background-color: rgba(234, 97, 83, 0.5);
  line-height: 4.5vh;
  font-size: 2.5vh;
  color: rgb(225, 225, 184);
  border: none;
  box-shadow: 3px 3px 4px 2px rgba(50, 50, 50, 1); 
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  min-width: 10vw;
  transition: width 0.3s ease-in-out;
}

#Field1:focus,#Field2:focus,#Field3:focus,#Field4:focus{
  width: 100%;
  border: 2px solid rgba(255, 146, 77, 1);
  outline: none;
}

#saveForm{
  font-family: 'Seagram';
  color: rgb(225, 225, 184);
  font-size: 2vh;
  border-radius: 10px;
  border: none;
  margin: 5px 10px;
  min-width: 10vw;
  background-color: rgba(234, 97, 83, 0.5);
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 3px 3px 4px 2px rgba(50, 50, 50, 1);
  animation: hue_effect 20s linear 0s infinite;
}

.contenedor-iframe{
  grid-area: iframe;
  height: 100%;
}

#alaska{
  width: 100%;
  height: 100%;
}

