:root {
  --columns: 3;
  /* --yellow: rgba(234, 97, 83,0.95);
  --pink: rgba(248, 255, 229, 1); */
  --red: rgba(234, 97, 83, 1);
  --violet: rgba(95, 57, 118, 1);
  --white: rgba(248, 255, 229, 1);
  --sentido:alternate;
}
/*violeta-blanco
rojo-blanco*/

.img_grid{
  box-shadow: 12px -12px 20px -8px #000;
}

.img_grid_ul{
  display:grid;
  position: relative;
  padding-top: 30vh;
  grid-template-columns: repeat(var(--columns),1fr);
  list-style: none;
  gap:10px;
}

.img_grid_li{
  grid-column-end: span 2;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-top: -50%;
}

.img_grid_li:nth-child(2n){
  grid-column-start:2;
}

.img_grid_li::before, .img_grid_li::after {
  content:'';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 50% 100%,50% 100%;
  background-position: left, right;
}

.img_grid_li::before{
  z-index: -10;
  /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
  clip-path: url(#bordermask_full);
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg,var(--white) 53.5%,var(--violet) 53.5%,var(--violet) 60%,var(--white) 60%), linear-gradient(45deg,var(--white) 53.5%,var(--violet) 53.5%,var(--violet) 60%,var(--white) 60%);
}

.img_grid_li::after{
  /* clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%,80% 50%);
  -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%,80% 50%); */
  clip-path: url(#bordermask_lower);
  background-repeat: no-repeat;
  opacity: 1;
  background-image: linear-gradient(45deg,var(--white) 40%,var(--violet) 40%), linear-gradient(-45deg,var(--white) 40%,var(--violet) 40%);
  animation: path_reverse 0.3s linear;
}
.img_grid_li:hover::after{
  animation: path 0.3s linear;
  animation-fill-mode: forwards;
}
/*animacion del sobre*/
@keyframes path {
  0% { clip-path: url(#bordermask_lower); }
  40% {clip-path: polygon(0 50%, 50% 50%, 50% 50%, 50% 50%, 100% 50%, 50% 100%); }
  60% {clip-path: polygon(0 50%, 40% 50%, 50% 60%, 60% 50%, 100% 50%, 50% 100%); }
  80% {clip-path: polygon(0 50%, 30% 50%, 50% 70%, 70% 50%, 100% 50%, 50% 100%); }
  100% { clip-path: polygon(0% 50%, 20% 50%, 50% 80%, 80% 50%, 100% 50%, 50% 100%); }
}

@keyframes path_reverse {
  0% { clip-path: polygon(0% 50%, 20% 50%, 50% 80%, 80% 50%, 100% 50%, 50% 100%); }
  40% {clip-path: polygon(0 50%, 30% 50%, 50% 70%, 70% 50%, 100% 50%, 50% 100%); }
  60% {clip-path: polygon(0 50%, 40% 50%, 50% 60%, 60% 50%, 100% 50%, 50% 100%); }
  80% {clip-path: polygon(0 50%, 50% 50%, 50% 50%, 50% 50%, 100% 50%, 50% 100%); }
  100% { clip-path: url(#bordermask_lower); }
}
/*fin de animacion del sobre*/
.img_grid_li:nth-child(2n)::before,.img_grid_li:nth-child(2n)::before{
  background-image: linear-gradient(-45deg,var(--red) 53.5%,var(--white) 53.5%,var(--white) 60%,var(--red) 60%), linear-gradient(45deg,var(--red) 53.5%,var(--white) 53.5%,var(--white) 60%,var(--red) 60%);
}

.img_grid_li:nth-child(2n)::after,.img_grid_li:nth-child(2n)::after{
  background-image: linear-gradient(45deg,var(--red) 40%,var(--white) 40%), linear-gradient(-45deg,var(--red) 40%,var(--white) 40%);
}

.img_grid_li:nth-child(odd)::before,.img_grid_li:nth-child(odd)::before{
  background-image: linear-gradient(-45deg,var(--white) 53.5%,var(--violet) 53.5%,var(--violet) 60%,var(--white) 60%), linear-gradient(45deg,var(--white) 53.5%,var(--violet) 53.5%,var(--violet) 60%,var(--white) 60%);
}

.img_grid_li:nth-child(odd)::after,.img_grid_li:nth-child(odd)::after{
  background-image: linear-gradient(45deg,var(--white) 40%,var(--violet) 40%), linear-gradient(-45deg,var(--white) 40%,var(--violet) 40%);
}

img{
  position: absolute;
  width: 43%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  transition-property: transform;
  transition-duration: .3s;
}

img:hover{
  transform: translateX(-40%) translateY(-70%) rotatez(25deg);
}

.svg_s{
  position: absolute;
}

@media (min-width:600px){
  :root {
    --columns: 5;
  }
  .img_grid_ul{
    padding-top: 30vh;
  }
  .img_grid_li:nth-child(2n){
    grid-column-start:auto;
  }
  .img_grid_li:nth-child(4n-1){
    grid-column-start:2;
  }
}
@media (min-width:900px){
  :root {
    --columns: 7;
  }
  .img_grid_ul{
    padding-top: 30vh;
  }
  .img_grid_li:nth-child(4n-1){
    grid-column-start:auto;
  }
  .img_grid_li:nth-child(6n-2){
    grid-column-start:2;
  }
}
@media (min-width:1200px){
  :root {
    --columns: 9;
  }
  .img_grid_ul{
    padding-top: 20vh;
  }
  .img_grid_li:nth-child(6n-2){
    grid-column-start:auto;
  }
  .img_grid_li:nth-child(8n-3){
    grid-column-start:2;
  }
}
@media (min-width:1500px){
  :root {
    --columns: 11;
  }
  .img_grid_ul{
    padding-top: 25vh;
  }
  .img_grid_li:nth-child(8n-3){
    grid-column-start:auto;
  }
  .img_grid_li:nth-child(10n-4){
    grid-column-start:2;
  }
}
@media (min-width:1800px){
  :root {
    --columns: 13;
  }
  .img_grid_ul{
    padding-top: 20vh;
  }
  .img_grid_li:nth-child(10n-4){
    grid-column-start:auto;
  }
  .img_grid_li:nth-child(12n-5){
    grid-column-start:2;
  }
}
@media (min-width:2100px){
  :root {
    --columns: 15;
  }
  .img_grid_ul{
    padding-top: 15vh;
  }
  .img_grid_li:nth-child(12n-5){
    grid-column-start:auto;
  }
  .img_grid_li:nth-child(14n-6){
    grid-column-start:2;
  }
}


