*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* //No pega con nada
@keyframes hue_effect {
  0% { filter:hue-rotate(0deg); }
  20% { filter:hue-rotate(72deg); }
  40% { filter:hue-rotate(144deg); }
  60% { filter:hue-rotate(216deg); }
  80% { filter:hue-rotate(288deg); }
  100% { filter:hue-rotate(360deg); }
}*/

main{
  margin-bottom: 2vh;
}

.contenedor_form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 10rem 1fr;
  grid-template-areas: "img diag"
                       "img form";
  height: 60vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  padding-top: 15vh;
}


.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: form;
  font-size: 2rem;
  background-color: rgba(99, 90, 73,1);
  border-radius: 5px;
  height: 35vh;
}

.imagen_form{
  /* background-color: steelblue; */
  grid-area: img;
}

.imagen_form img{
  height: 90%;
}

.parrafo_random{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 5%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 75%, 10% 100%, 10% 75%, 0% 75%);
  background-color: rgba(99, 90, 73,0.5);
  border-radius: 10px;
  opacity: 1;
  /* background-color: aquamarine; */
  font-size: 4vh;
  grid-area: diag;
  color: rgb(225, 225, 184);
  height: 16vh;
  top: -40%;
  }
  
#saveForm,#DeleteForm{
  font-family: 'Seagram';
  color: rgb(225, 225, 184);
  font-size: 2vh;
  border-radius: 10px;
  border: none;
  margin: 5px 10px;
  /*Son 6 letras de 1.5 y quiero un 15% a cada lado*/
  min-width: 10vw;
  background-color: rgba(234, 97, 83, 0.5);
   /* offset-x | offset-y | blur-radius | color */
   box-shadow: 3px 3px 4px 2px rgba(50, 50, 50, 1); 
}

  form > div {
    clear: both;
    padding: 1px;
    margin: 0 0 10px 0;
  }
  form > div > label,
  legend {
    width: 100%;
    float: left;
    padding-right: 10px;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: right;
  }

  fieldset {
      border: 0;
    padding: 0;
  }

#manga,#l_read,#url{
    width: 60%;
    background-color: rgba(234, 97, 83, 0.5);
    line-height: 4.5vh;
    font-size: 2.5vh;
    color: rgb(225, 225, 184);
    border: none;
    box-shadow: 3px 3px 4px 2px rgba(50, 50, 50, 1); 
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    min-width: 10vw;
    transition: width 0.3s ease-in-out;
}
#manga:focus,#l_read:focus,#url:focus {
  width: 100%;
  border: 2px solid rgba(255, 146, 77, 1);
  outline: none;
}
  @media (max-width: 600px) {
    form > div {
      margin: 0 0 15px 0; 
    }
    form > div > label{
      font-size: 2vh;
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
      width: 100%;
      float: none;
    }
    input[type=text],
    input[type=url],
    input[type=password],
    textarea,
    select {
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .imagen_form{
      height: 150%;
    }
  }

  @media (min-width: 2100px){
    .formulario{
      padding-top: 10%;
      padding-bottom: 10%;
    }
    .parrafo_random{
      top: -40%;
      height: 13vh;
      font-size: 4vh;
    }
    .imagen_form img{
      height: 95%;
    }
  }
  /*Portrait*/
@media(max-aspect-ratio: 16/9){
  .contenedor_form{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "img diag "
                        " img diag "
                        " form form";
    width: 85vw;
    margin-top: -10vh;
    margin-left: 5vh;
  }

  .parrafo_random{
    top: 0%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 75%, 10% 100%, 10% 75%, 0% 75%);
    background-color: rgba(60, 54, 44, 0.5);
    border-radius: 10px;
    color: rgb(225, 225, 184);
    height: 75%;
    padding-bottom: 10%;
    font-size: 3vh;
    }
  .imagen_form{
    height: 125%;
  }
  
  .formulario {
    height: 25vh;
    font-size: 2vh;
  }
}

@media(max-aspect-ratio: 16/9) and (max-width:600px){
  .contenedor_form{
    height: 80vh;
    font-size: 1rem;
  }
  .formulario {
    height: 30vh;
  }
  .parrafo_random{
    height: 100%;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    }
}